In [1]:
# My Data Science Notebook

In [5]:
## Introduction
#This notebook covers basic data science concepts, tools, and examples of arithmetic expressions using Python.

In [ ]:
## Data Science Languages
- Python
- R
- SQL
- Julia
- SAS

In [ ]:
## Data Science Libraries
- Pandas
- NumPy
- Matplotlib
- Seaborn
- Scikit-learn
- TensorFlow

In [ ]:
## Data Science Tools

| Tool             | Description                        |
|------------------|------------------------------------|
| Jupyter Notebook | Interactive coding environment     |
| RStudio          | IDE for R                        |
| Tableau          | Data visualization platform     |
| Apache Spark     | Big data processing             |
| Power BI         | Business analytics tool         |

In [ ]:
## Arithmetic Expression Examples
Below are some examples demonstrating basic arithmetic operations in Python.

In [7]:
# Multiply 6 by 4, then add 10
result = (6 * 4) + 10
print("Result of (6 * 4) + 10:", result)

Result of (6 * 4) + 10: 34

In [9]:
# Convert 150 minutes to hours
minutes = 150
hours = minutes / 60
print(f"{minutes} minutes is equal to {hours} hours.")

150 minutes is equal to 2.5 hours.

In [ ]:
## Objectives
- Understand basic data science concepts
- Learn common data science tools and libraries
- Practice simple arithmetic operations in Python
- Share notebooks via GitHub

In [ ]:
## Author
jwalitha